<div class="dlabnav">
    <div class="dlabnav-scroll">
        <ul class="metismenu" id="menu">
            <li class="nav-label first">Main Menu</li>
            <li><a href="/">
                    <i class="la la-home"></i>
                    <span class="nav-text">Dashboard</span>
                </a>
            </li>
            <li><a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <i class="la la-user"></i>
                    <span class="nav-text">Lecturers</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="/lecturers/">All Lecturers</a></li>
                    <li><a href="/lecturers/add">Add Lecturer</a></li>
                </ul>
            </li>
            <li><a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <i class="la la-graduation-cap"></i>
                    <span class="nav-text">Courses</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="/courses/">All Courses</a></li>
                    <li><a href="/courses/add">Add Course</a></li>
                </ul>
            </li>

        </ul>
    </div>
</div>
